<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Circular Slider</title>
    <link
            rel="stylesheet"
            href="<%=htmlWebpackPlugin.files.chunks.app.css %>"
    />
    <link
            rel="stylesheet"
            href="<%=htmlWebpackPlugin.files.chunks['circular-slider'].css %>"
    />
  </head>

  <body>
    <div id="slider-wrapper" class="row">
      <div id="slider-legend" class="col-xs-12 col-m-6">
        Legend
      </div>
      <div id="slider-container"  class="col-xs-12 col-m-6">
        <div id="slider">Slider</div>
      </div>
    </div>
    <script src="<%= htmlWebpackPlugin.files.chunks['circular-slider'].entry %>"></script>
    <script src="<%= htmlWebpackPlugin.files.chunks.app.entry %>"></script>
  </body>
</html>
